*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#bgc{
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(17, 16, 16); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#first{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 0);
    border: 3px solid black;
}
#second{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 255, 0);
    border: 3px solid black;
}
#third{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 255);
    border: 3px solid black;
}
#fourth{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 0);
    border: 3px solid black;
}
#fifth{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 255);
    border: 3px solid black;
}