*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
#main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.box1{
    background-color: rgb(211, 237, 245);
}
.box2{
    background-color: antiquewhite;
}
#formdiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
#formdiv textarea{
    height: 200px;
    width: 300px;
}
#buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#buttons button{
    padding: 5px;
    width: 200px;
}
#buttons #b1{
    background-color: lightgreen;
}
#buttons #b2{
    background-color: rgb(244, 78, 78);
}
.box h1{
    text-align: center;
}
.box #div{
    display: flex;
    justify-content: center;
}
.box .note1{
    display: flex;
    height: 150px;
    width: 150px;
    background-color: blue;
    margin: 10px;
}
#noteboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}