*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #654b4b;
    
}
.container{
    width: 400px;
    height: 400px;
    background-color: #f5f5f5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#loveForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
button{
    background-color: rgb(74, 227, 74);
}